services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - mongo-data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin
      ME_CONFIG_MONGODB_SERVER: mongo

  app:
    build: .
    ports:
      - "5050:5050"
    environment:
      MONGO_URL: mongodb://admin:admin@mongo:27017/testdb?authSource=admin
    depends_on:
      - mongo

volumes:
  mongo-data:






# services:
#   mongo:
#     image: mongo:latest
#     container_name: mongo
#     ports:
#       - "27017:27017"
#     environment:
#       MONGO_INITDB_ROOT_USERNAME: admin
#       MONGO_INITDB_ROOT_PASSWORD: admin

#   mongo-express:
#     image: mongo-express
#     ports:
#       - "8081:8081"
#     environment:
#       ME_CONFIG_MONGODB_ADMINUSERNAME: admin
#       ME_CONFIG_MONGODB_ADMINPASSWORD: admin
#       ME_CONFIG_MONGODB_SERVER: mongo

#   app:
#     build: .
#     ports:
#       - "5050:5050"
#     environment:
#       MONGO_URL: mongodb://admin:admin@mongo:27017/




# services:
#   mongo:
#     image: mongo:latest
#     container_name: mongo
#     ports:
#       - "27017:27017"
#     environment:
#       MONGO_INITDB_ROOT_USERNAME: admin
#       MONGO_INITDB_ROOT_PASSWORD: admin
#     healthcheck:
#       test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
#       interval: 10s
#       timeout: 5s
#       retries: 5

#   mongo-express:
#     image: mongo-express
#     ports:
#       - "8081:8081"
#     environment:
#       ME_CONFIG_MONGODB_ADMINUSERNAME: admin
#       ME_CONFIG_MONGODB_ADMINPASSWORD: admin
#       ME_CONFIG_MONGODB_SERVER: mongo
#     depends_on:
#       mongo:
#         condition: service_healthy  

#   app:
#     build: .
#     ports:
#       - "5050:5050"
#     environment:
#       MONGO_URL: mongodb://admin:admin@mongo:27017/testdb?authSource=admin
#     depends_on:
#       mongo:
#         condition: service_healthy
